Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git
.gitignore
.github
*.md
.env
.env.*
!.env.example
.env*.local
.vscode
.idea
**/*.swp
**/*.swo
**/*.swn
.DS_Store
.pnpm-store
dist
build
coverage
*.log
